<div class="bubble-shade" ng-click="cancelCredit()"></div>
<div class="pull-right bubble text-left">
    <div ng-if="!asset.type">
        <label>Что покупаем?</label>
        <ul>
            <li ng-repeat="(name,title) in asset_types">
                <button class="btn btn-block btn-default" ng-click="asset.type=name">{{title}}</button>
            </li>
            <li>
                <button class="btn btn-cancel btn-block" ng-click="cancelAsset(a)">Отмена</button>
            </li>
        </ul>
    </div>

    <div ng-if="asset.type === 'real_estate'">
        <div>
            <label>Название:</label>
            <input  ng-model="asset.title" />
        </div>
        <div>
            <label>Цена:</label>
            <input  ng-model="asset.price" ng-change="asset.mortgage = asset.price-asset.payment"/>
        </div>
        <div>
            <label>Первый взнос:</label>
            <input  ng-model="asset.payment"   ng-change="asset.mortgage = asset.price-asset.payment"  />
        </div>
        <div>
            <label>Ипотека:</label>
            <money value="asset.mortgage"></money>
        </div>
        <div>
            <label>Доходность:</label>
            <input  ng-model="asset.income" />
        </div>
    </div>

    <div ng-if="asset.type === 'business'">
        <div>
            <label>Название:</label>
            <input  ng-model="asset.title" />
        </div>
        <div>
            <label>Цена:</label>
            <input  ng-model="asset.price"  ng-change="asset.mortgage = asset.price-asset.payment"  />
        </div>
        <div>
            <label>Первый взнос:</label>
            <input  ng-model="asset.payment" ng-change="asset.mortgage = asset.price-asset.payment"   />
        </div>
        <div>
            <label>Долг:</label>
            <money value="asset.mortgage||0"></money>
        </div>
        <div>
            <label>Доходность:</label>
            <input  ng-model="asset.income" />
        </div>
    </div>

    <div ng-if="asset.type === 'others'">
        <div>
            <label>Название:</label>
            <input  ng-model="asset.title" />
        </div>
        <div>
            <label>Цена:</label>
            <input  ng-model="asset.price" />
        </div>
        <div>
            <label>Доходность:</label>
            <input  ng-model="asset.income" />
        </div>
    </div>

    <div ng-if="asset.type === 'shares'">
        <div>
            <label>Название:</label>
            <input  ng-model="asset.title" />
        </div>
        <div>
            <label>Цена за штуку:</label>
            <input  ng-model="asset.item_price" />
        </div>
        <div>
            <label>Количество:</label>
            <input  ng-model="asset.items_count" />
        </div>
        <div>
            <label>ИТОГО:</label> <money value="asset.item_price * asset.items_count"></money>
        </div>
    </div>

    <div class="btn-row" ng-if="asset.type">
        <button class="btn btn-cancel" ng-click="cancelAsset(a)">Отмена</button>
        <button class="btn btn-main"  ng-click="saveAsset(a, asset)">Ok</button>
    </div>
</div>