<div class="menu-row">

    <div class="pull-right">
        Детей: {{game.player.child_count}}
        <span ng-if="game.player.child_count<3" class="btn btn-default btn-box icon icon-plus" ng-click="newborn()"></span>
    </div>
    <h3>
         <i class="icon icon-back btn btn-box btn-default" ng-click="stopGame()"></i>
         {{game.player.name}} ({{game.player.job}})
    </h3>
</div>

<div class="row">
    <div class="col">
        <h4 ng-click="app.showIncome = !app.showIncome">
            <money ng-if="!app.showIncome" class="total pull-right" value="incomeTotal()"></money>
            Доходы
            <span ng-if="!app.showIncome">(<money value="netIncome()"></money>)</span>
        </h4>
        <ul ng-if="app.showIncome" class="sub-list">
            <li ng-repeat="i in game.income" ng-if="i.type!=='salary'">
                <money class="pull-right" value="incomeByType(i.type)"></money>
                {{i.title}}
            </li>
            <li class="sub-total">
                <money class="pull-right" value="netIncome()"></money>
                Пасивный доход
            </li>
            <li class="sub-total">
                <money class="pull-right" value="incomeByType('salary')"></money>
                Зароботок
            </li>
            <li class="total">
                <money class="pull-right" value="incomeTotal()"></money>
            </li>
        </ul>

    </div>
    <div class="col">
        <h4 ng-click="app.showDeductions = !app.showDeductions">
            <money ng-if="!app.showDeductions" class="total pull-right" value="expensesTotal()"></money>
            Расходы
        </h4>
        <ul ng-if="app.showDeductions" class="sub-list">
            <li ng-repeat="e in game.expenses">
                <money class="pull-right" value="expensesByType(e.type)"></money>
                {{e.title}}
            </li>
            <li ng-repeat="el in game.liabilities">
                <money class="pull-right" value="expensesByLiability(el)"></money>
                {{el.title}}
            </li>
            <li class="total">
                <money class="pull-right" value="expensesTotal()"></money>
            </li>
        </ul>
    </div>
</div>

<div class=" main-total">
    <div class="row">
        <div class="col">
            <div>
                <money class="pull-right" value="total()"></money>
                Общий доход
            </div>
        </div>
        <div class="col">
            <div>
                <money class="pull-right" value="game.balance"></money>
                Баланс
            </div>
        </div>
    </div>
    <div class="text-right">
        <button class="btn-main btn" ng-click="getCheck()">
            Получить чек
        </button>

        <button class="btn btn-default" ng-click="unemployment()">
            Безработица
            <span ng-if="unemploymentCounter">({{unemploymentCounter}})</span>
        </button>

        <button class="btn btn-default" ng-click="app.showPayment=true;">
            Расходы
        </button>

        <!--payment form -->
        <div class="bubble-container" ng-if="app.showPayment" ng-include="'views/_payment.html'"></div>
        <!--payment form -->
    </div>
</div>

<div class="row">
    <div class="col">
        <i class="icon icon-plus pull-right" ng-click="app.showNewAsset = true;"></i>
        <h4 ng-click="hideAssets = !hideAssets">Активы</h4>
        <!--asset form -->
        <div ng-if="app.showNewAsset" class="bubble-container" ng-include="'views/_asset.add.html'"></div>
        <!--asset form -->

        <ul ng-if="!hideAssets" class="sub-list" ng-include="'views/_assets.view.html'"></ul>
    </div>
    <div class="col">
        <h4 ng-click="hideLiabilities = !hideLiabilities">Пасивы</h4>
        <ul  ng-if="!hideLiabilities" class="sub-list" ng-include="'views/_liabilities.view.html'"></ul>
    </div>
</div>
